{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'meninoDjango/style.css' %}">
    <style>
        /*body { background: red; }*/
    </style>
</head>
<body>
    <div class="container">

        <h1>Hello world!</h1>
    
        <h1>Olá {{ nome }}</h1>
        <p>Idade: {{ idade }}</p>
    
        <h2>Lista</h2>
    
        <ul>
            {% for fruta in frutas %}
                <li>{{ fruta }}</li>
            {% endfor %}
        </ul>

        <h1>Home</h1>

            <a href="{% url 'meninoDjango:dashboard' %}">
                <button>Ir para Dashboard</button>
            </a>

            <a href="{% url 'meninoDjango:landingpage' %}">
                <button>Ir para Landing</button>
            </a>
    
    </div>

</body>
</html>